<!DOCTYPE html>
<html lang=en>
<head>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
    <title>Heckle at DDD South West 3</title>
</head>
<body>
    <h1>Heckle at DDD South West 3</h1>
    <h2>Sessions</h2>
    <table>
        <tr>
        <th>Track 1</th>
        <th>Track 2</th>
        <th>Track 3</th>
        <th>Track 4</th>
        <th>Repeat Track</th>
        <th>Getting Started</th>
        </tr>
        <tr>
        @{
            int lastSlot = 1;
            foreach (var session in Model.Sessions)
            {
                if (session.Slot != lastSlot)
                {
                    @(Model.SplitRow)
                }
                <td>
                    <a href="/@session.EventCode/@session.Slot/@session.Track/">
                        @session.Title<br />@session.Presenter
                    </a>
                </td>
                lastSlot = session.Slot;
            }
        }
        </tr>
    </table>
</body>
</html>
