<!DOCTYPE html">
<html lang=en>
<head>
    <title>@string.Format("Heckle {0}", Model.Presenter)</title>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
        function getFeedback(since) {
            since = since || new Date(0).toUTCString();
            $.get("/@Model.EventCode/@Model.Slot/@Model.Track/feedback?since=" + since)
            .success(function (data) {
                for (var i in data) {
                    if (data[i].Time && data[i].Time != '')
                        data[i].Time = new Date(parseInt(data[i].Time.substr(6))).toLocaleString();
                }
                $("#feedbackTemplate").tmpl(data).prependTo("#feedback-list");
            });
            setTimeout("getFeedback('" + new Date().toUTCString() + "')", 15000);
        }
    </script>
</head>
<body>
    <script id="feedbackTemplate" type="text/x-jquery-tmpl">
        <li>
            <img src="/content/Emoticon-${Mood}.png" alt="${Mood}" class=floatleft />
            <p class=feedback>${Commenter} says:<br />${Comment}<br /><em><small>${Time}</small></em></p>
        </li>
    </script>
    <h1>@Model.Title with @Model.Presenter</h1>
    <div id="form" class=floatright>
        <form id="feedback-form" action="feedback" method="post">
            <fieldset id="feedback-fieldset">
                <legend>Give @Model.Presenter feedback</legend>
                <label for="commenter-input">Your name (optional):</label>
                <input type=text id="commenter-input" name="Commenter" maxlength=50 />
                <br />
                <label id="comment-label" for="comment-textarea">Comment or question:</label>
                <br />
                <textarea id="comment-textarea" name="Comment" cols=60 rows="5"></textarea>
                <br />
                <label for="ecstatic-radio"><img src="/content/Emoticon-Ecstatic.png" title="I am ecstatic" alt="Ecstatic" width="48" height="48" /></label>
                <input type=radio id="ecstatic-radio" name=Mood title="I am ecstatic" value="Ecstatic" />
                <label for="happy-radio"><img src="/content/Emoticon-Happy.png" title="I am happy" alt="Happy" width="48" height="48" /></label>
                <input type=radio id="happy-radio" name=Mood title="I am happy" value="Happy" />
                <label for="sad-radio"><img src="/content/Emoticon-Sad.png" title="I am sad" alt="Sad" width="48" height="48" /></label>
                <input type=radio id="sad-radio" name=Mood title="I am sad" value="Sad" />
                <label for="confuse-radio"><img src="/content/Emoticon-Confuse.png" title="I am confused" alt="Confuse" width="48" height="48" /></label>
                <input type=radio id="confuse-radio" name=Mood title="I am confused" value="Confuse" />
                <label for="disappoint-radio"><img src="/content/Emoticon-Disappoint.png" title="I AM DISAPPOINT" alt="Disappoint" width="48" height="48" /></label>
                <input type=radio id="disappoint-radio" name=Mood title="I AM DISAPPOINT" value="Disappoint" />
                <label for="hungry-radio"><img src="/content/Emoticon-Hungry.png" title="I am hungry" alt="Hungry" width="48" height="48" /></label>
                <input type=radio id="hungry-radio" name=Mood title="I am hungry" value="Hungry" />
                <input type="submit" value="Submit feedback" />
            </fieldset>
        </form>
    </div>
    <div id="feedback">
        <h2>Feedback</h2>
        <ul id="feedback-list">
        </ul>
    </div>
    <script type="text/javascript">
        setTimeout('getFeedback()', 500);
    </script>
</body>
</html>
